<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>test</title>
    <head>
        <script src="../../js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="example">
                <input type="text" v-model="message" placeholder="edit me">
                <p>Message is : {{message}}</p>
                <textarea v-model="message2" placeholder="add multiple lines"></textarea>
                <p>{{message2}}</p>
                <br/>

                <div style="margin-top: 20px;">
                    <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                    <label for="jack">Jack</label>
                    <input type="checkbox" id="john" value="John" v-model="checkedNames">
                    <label for="jhon">John</label>
                    <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                    <label for="mike">Mike</label>
                    <br>
                    <span>Checked names: {{checkedNames}}</span>
                </div>

                <div style="margin-top: 20px;">
                    <input type="radio" id="one" value="One" v-model="picked">
                    <label for="one">One</label>
                    <br>
                    <input type="radio" id="two" value="Two" v-model="picked">
                    <label for="two">Two</label>
                    <br>
                    <span>Picked : {{picked}}</span>
                </div>
                <button type="button" v-on:click="submit">Submit</button>
            </div>
        </div>
    </body>
    <script src="../test9/index.js"></script>
</html>