<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>书籍购物车样例</title>
    <link rel="stylesheet" href="../test16-书籍购物车样例/style.css">
</head>
<body>
    <div id="app">
        <div v-if="books.length">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>书籍名称</th>
                        <th>出版日期</th>
                        <th>价格</th>
                        <th>购买数量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(book,index) in books">
                        <th>{{book.id}}</th>
                        <th>{{book.name}}</th>
                        <th>{{book.date}}</th>
                        <th>{{book.price | showPrice}}</th>
                        <th>
                            <button @click="decrement(index)">-</button>
                            {{book.count}}
                            <button @click="increment(index)">+</button>
                        </th>
                        <th>
                            <button @click="removeHandle(index)">移除</button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <h2>总价格： {{ SUM | showPrice }}</h2>
        </div>
        <div v-else>
            <h2>购物车为空</h2>
        </div>
    </div>
</body>
<script src="../../js/vue.js"></script>
<script src="./main.js"></script>
</html>